@model AboutVM
@inject UserManager<AppUser> userManager
@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link rel="stylesheet" href="~/./css/about.css">
}
<body>

    <section class="article-wrap" style="background-image: url(./images/bg_4.jpg); ">
        <div class="overlay">
        </div>
        <div class="container">
            <div class="row align-items-end justify-content-center">
                <div class="col-md-9 pb-5 text-center">
                    <h1 class="mb-3">About Us</h1>
                    <p class="items">
                        <span class="mr-2">
                            <a href="index.html">Home</a>
                            <i class="fa-solid fa-angle-right"></i>

                        </span>
                        <span>
                            About Us
                            <i class="fa-solid fa-angle-right"></i>
                        </span>
                    </p>

                </div>

            </div>

        </div>

    </section>

    <section class="about about-no-pt about-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 d-flex">
                    <div class="image d-flex">
                        <a asp-controller="FoodRecipes" asp-action="Index" > <img src="~/./images/@Model.AboutUs.FirstImage" alt=""></a>

                    </div>
                </div>
                <div class="col-md-6 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading">
                            <h2 class="mb-4">@Model.AboutUs.Title.</h2>
                            <p>
                                @Model.AboutUs.FirstDescription.

                            </p>

                        </div>

                    </div>
                    <div class="row">
                        <div class="wrapper">
                            <div class="part1">
                                <div class="container">
                                    <i class="fab fa-twitter"></i>
                                    <span class="num" data-val="350">000</span>
                                    <span class="text">Followers</span>
                                </div>
                                <div class="container">
                                    <i class="fab fa-facebook-f"></i>
                                    <span class="num" data-val="250">000</span>
                                    <span class="text">Followers</span>
                                </div>
                            </div>
                            <div class="part2">
                                <div class="container">
                                    <i class="fab fa-youtube"></i>
                                    <span class="num" data-val="325">000</span>
                                    <span class="text">Followers</span>
                                </div>
                                <div class="container">
                                    <i class="fab fa-instagram"></i>
                                    <span class="num" data-val="275">000</span>
                                    <span class="text">Followers</span>
                                </div>
                            </div>


                        </div>
                    </div>


                </div>




            </div>



        </div>
        </div>

    </section>

    <section class="about2 about2-no-pt about2-no-pb">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-6 pl-md-5 py-5">
                    <div class="row justify-content-start pb-3">
                        <div class="col-md-12 heading2">
                            <p>
                                @Model.AboutUs.SecondDescription.



                            </p>

                        </div>

                    </div>



                </div>
                <div class="col-md-6 d-flex">
                    <div class="image2 d-flex">
                        <a asp-controller="FoodRecipes" asp-action="Index"> <img src="~/./images/@Model.AboutUs.SecondtImage" alt=""></a>

                    </div>
                </div>





            </div>



        </div>
        </div>

    </section>






    <section class="advertisment" id="section-counter" style="background-image: url(images/bg_4.jpg);
        background-position: 50% -189px; filter: grayscale(10%); opacity: 1;">
        <div class="background-overlay">
            <div class="container">
                <!-- <h1>Love the delicious and tasty foods</h1> -->
                <h1>Subcribe to our Newsletter</h1>
                <p>
                    A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                    is <br> a
                    paradisematic country, in which roasted parts of sentences fly into your mouth.
                </p>
                <div class="row d-flex justify-content-center mt-4 mb-4">
                    <div class="col-md-8">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <form method="post" asp-controller="About" asp-action="PostSubscribe">
                                <div class="subscribe" id="">
                                    <span class="email-input">
                                        <input asp-for="Email" required type="text" placeholder="E-MAIL" placeholder="YOUR E-MAIL ADDRESS...">
                                        <span class="text-danger" asp-validation-for="Email">@ViewBag.error</span>

                                    </span>
                                    <div class="subscribe-btn">
                                        <button type="submit">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="subscribe" id="">
                                <span class="email-input">
                                    <input asp-for="Email" required type="text" placeholder="E-MAIL" placeholder="YOUR E-MAIL ADDRESS...">
                                    <span class="text-danger" asp-validation-for="Email">@ViewBag.error</span>

                                </span>
                                <a asp-controller="account" asp-action="Login">
                                    <div class="subscribe-btn">
                                        <button type="submit">Subscribe</button>
                                    </div>
                                </a>

                            </div>
                        }
                    </div>

                </div>

            </div>
        </div>

    </section>
    <section class="slider">
        <h1>Latest Posts</h1>
        <div id="slider">
            <input type="radio" name="slider" id="slide1" checked>
            <input type="radio" name="slider" id="slide2">
            <input type="radio" name="slider" id="slide3">
            <input type="radio" name="slider" id="slide4">
            <div id="slides">
                <div id="overflow">
                    <div class="inner">
                        @foreach (var item in Model.AboutSliders)
                        {
                             
                            <div class="slide slide_1">
                                <div class="slide-content">

                                    <a asp-controller="Menu" asp-action="Index"><img src="~/./images/@item.Image" alt=""></a>

                                </div>
                            </div>
                      
                        }
            
            </div>
            <div id="controls">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>

            </div>
            <div id="bullets">
                <label for="slide1"></label>
                <label for="slide2"></label>
                <label for="slide3"></label>
                <label for="slide4"></label>

            </div>
        </div>
        </div>

    </section>
    <section class="slidertext">
        <div class="container">
            <div class="row">
             @foreach (var item in Model.AboutSliders)
                {
                    <div class="col-md-6">
                        <a href="single.html"><h1>@item.Title</h1></a>
                        <h5>@item.CreatedDate</h5>
                        <p>
                            @item.Description
                        </p>

                    </div>
                }
       
            </div>
        </div>

    </section>

</body>

@section Scripts {
    <script src="~/./js/script.js"></script>
    <script src="~/./js/search.js"></script>
    <script src="~/./js/numanimate.js"></script>
    <script src="~/./js/slider.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
}

