@model LayoutVM
@inject UserManager<AppUser> userManager;

@{
    decimal endTotal = 0;
}

<header class="header">
    <a href="" class="logo"><span class="dot">Sweet</span> Bites</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <ul class="menu">
        <li class="nav-item">
            <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a asp-controller="About" asp-action="Index" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Menu" asp-action="Index" class="nav-link">Menu</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Stories" asp-action="Index" class="nav-link">Stories</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Post" asp-action="Index" class="nav-link">Posts</a>
        </li>
        <li class="nav-item">
            <a asp-controller="Contact" asp-action="Index" class="nav-link">Contact</a>
        </li>
        @*
        @if (User.Identity.IsAuthenticated)
        {
        <li class=""><a class="px-1" href="">@Model.UserFullName</a></li>
        <li><a asp-controller="Account" asp-action="Logout" class="register">LogOut</a></li>
        }
        else
        {
        <li><a asp-controller="Account" asp-action="Login" class="register">Login / Register</a></li>
        }*@




        @if (User.Identity.IsAuthenticated)
        {
            <form asp-controller="Account" asp-action="Logout" asp-route-userId="@userManager.Users.Where(u=>u.UserName==User.Identity.Name).FirstOrDefault().Id" method="post">

            <li class="logout_li">
                <button class="logout">
                    <a>Logout</a>
                </button>
            </li>
            </form>

            <li> <a href="#">@User.Identity.Name</a></li>



        }
        else
        {

            <li><a asp-controller="Account" asp-action="Login">Login</a></li>
            <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        }





    </ul>

    @*    <div class="cart-modal-overlay">
    <div class="cart-modal">
    <i id="close-btn" class="fas fa-times"></i>
    <h1 class="cart-is-empty">Cart is empty</h1>

    <div class="product-rows">
    @foreach (var basketProduct in Model.BasketProducts.BasketProducts)
    {
    <div class="product-row" id="@basketProduct.Id">
    <img class="cart-image" src="~/images/@basketProduct.StarterImage" alt="">
    <span class="cart-price">$@basketProduct.StarterMenuPrice</span>
    <span class="cart-price">$@basketProduct.StarterTotal</span>
    <input class="product-quantity" value="@basketProduct.Quantity">
    <button class="remove-btn">Remove</button>
    </div>

    endTotal = basketProduct.StarterTotal + basketProduct.DessertTotal;
    }
    </div>
    <div class="total">
    <h1 class="cart-total">TOTAL</h1>
    <span class="total-price">$@endTotal</span>
    <button class="purchase-btn">PURCHASE</button>
    </div>
    </div>
    </div>
    *@

    <div class="cart-btn">
        <a asp-controller="Basket" asp-action="Index">
            <i id="cart" class="fas fa-shopping-cart"></i>
        </a>
        <span class="cart-quantity">@Model.Count</span>
        <span style="display:none" class="cart-quantity2">@Model.Count</span>*
    </div>

</header>