@model HomeVM
@{
    ViewData["Title"] = "Home Page";
}


    <body>
        <section class="slider owl-carousel">
            <div class="slider item">
                <div class="container">
                    <div class="row d-flex slider-text justify-content-center align-items-center">
                        <div class="container">
                            <div class="slider">
                                <div class="img" style="background-image: url(images/bg_2.jpg);"></div>

                                <div class="textt d-flex align-items-center">
                                    <div class="right pb-lg-5 mb-lg-4 px-4 px-md-5">
                                        <h3 class="subheading mb-3">Featured Posts</h3>
                                        <h1 class="mb-5">Love the Delicious &amp; Tasty Foods</h1>
                                        <p class="mb-md-5">A small river named Duden flows by their place and supplies
                                            it with the necessary regelialia</p>
                                        <div class="full-content">
                                            <p>
                                                This is the full content that will be hidden initially. We revealed.
                                                You can add more paragraphs or any other content here.
                                            </p>
                                        </div>
                                    <p>
                                        <a asp-controller="FoodRecipes" asp-action="Index" id="read-more-link" class="btn btn-black px-3 px-md-4 py-3">
                                            Read
                                                More <span class="icon-arrow_forward ml-lg-4"
                                                    style="background-color: red;"></span></a></p>

                                    </div>

                                </div>

                            </div>

                        </div>


                    </div>


        </section>
        <section class="board board-no-pt board-no-pb board-wrap-about">
            <div class="container">
                <div class="row">
                    <h1>Recent Stories</h1>
                    <div class="col-sm-7 wrap-about py-5 ">
                        <div class="heading mt-5 mb-4">
                            <div class="subheading">
                                <span>About</span>
                                <h2 class="mb-4">Welcome to Sweet Restaurant</h2>

                            </div>



                        </div>
                        <div class="pl-lg-5 ml-md-5">
                            <p>@Model.AboutUs.FirstDescription</p>
                            <h3 class="mt-5">Special Recipe</h3>
                            <div class="recipes my-4 d-flex">
                             @foreach (var blog in Model.Blogs)
                            {
                                <div class="menu pr-md-4 text-center">
                                    <a asp-controller="Menu" asp-action="Index">
                                        <div class="img">
                                            <img src="~/./images/@blog.Image" alt="">
                                        </div>
                                    </a>

                                    <h5>@blog.Title</h5>
                                </div>
                            }
                          @*      <div class="menu pr-md-4 text-center">
                                    <div class="img">
                                        <a href="single.html">
                                            <img src="~/./images/sliderimage1.jpg" alt="">
                                        </a>
                                        <h5>Desert-Cookie</h5>
                                    </div>
                                </div>
                                <div class="menu pr-md-4 text-center">
                                    <div class="img">
                                        <a href="single.html">
                                            <img src="~/./images/sliderimage2.jpg" alt="">
                                        </a>
                                        <h5>Desert-Cheescake</h5>

                                    </div>
                                </div>
*@
                            </div>


                        </div>

                    </div>
                    <div
                        class="image col-sm-5  d-flex justify-content-center align-items-center justify-content-md-end">
                    <a asp-controller="FoodRecipes" asp-action="Index"><img src="~/./images/@Model.AboutUs.FirstImage" alt=""></a>
                        
                    </div>

                </div>
            </div>

        </section>
        <section class="advertisment" id="section-counter" style="background-image: url(images/bg_4.jpg);
        background-position: 50% -189px; filter: grayscale(10%); opacity: 1;">
            <div class="background-overlay"></div>
            <div class="container">
                <!-- <h1>Love the delicious and tasty foods</h1> -->
                <h1>Subcribe to our Newsletter</h1>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is <br> a
                    paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-md-8">
                    <form method="post" asp-controller="Home" asp-action="PostSubscribe">
                                <div class="form-group d-flex">
                            <input type="text" placeholder="Enter Email Adress" asp-for="Email">
                            <span class="text-danger" asp-validation-for="Email">@ViewBag.error</span>
                                    <button type="submit" class="btn btn-primary">Subscribe</button>


                                </div>
                            </form>
                        </div>

                    </div>

            </div>
        </section>


        <section class="posts post-no-pt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="row">
                            <div class="col-md-12 heading-section ftco-animate">
                                <h2 class="mb-4"><span>My Posts</span></h2>
                            </div>
                        </div>
                        <div class="row">
                         @foreach (var post in Model.Posts)
                        {
                            <div class="col-md-4 post-animate">
                                <div class="blog-entry">
                                    <a asp-controller="Menu" asp-action="Index" class="img-2">
                                        <img src="~/images/@post.Image"
                                             class="img-fluid">
                                    </a>
                                    <div class="txt pt-3">
                                        <p class="meta d-flex">
                                            <span class="ml-auto pl-3">@post.CreatedDate</span>
                                        </p>
                                        <h3>@post.Description</h3>
                                        <p class="mb-0">
                                            <a asp-controller="FoodRecipes" asp-action="Index" class="btn btn-black py-2">
                                                Read More <span class="icon-arrow_forward ml-4"></span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="sidebar-wrap">
                            <div class="sidebar-box p-4 about text-center ">
                                <h2 class="heading mb-4">About Me</h2>
                                <img src="~/images/me.jpeg" class="img-fluid">
                                <div class="about pt-4">
                                    <p>Hi! My name is <strong>Gultaj Jafarova</strong>, behind the word mountains, far
                                        from the countries Vokalia and Consonantia, there live the blind texts.
                                        Separated they live in Bookmarksgrove right at the coast of the Semantics,
                                        a large language ocean.</p>
                                </div>
                            </div>
                            <div class="sidebar-box p-4">
                                <div class="form-container">
                                    <form class="form">
                                        <input id="search" type="text" class="input" placeholder="search..." />
                                    </form>

                                </div>
                                <div class="results-container">
                                    <ul class="results-list" id="list">

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <section class="season-recipe">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-md-12 heading-section">
                                <div class="mb-4">
                                    <h2>Season Recipes</h2>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                       @foreach (var recipe in Model.Recipes)
                        {
                            <div class="col-md-6 col-lg-6">
                                <div class="blog">
                                    <div class="image  d-flex align-items-end">
                                        <img src="~/images/@recipe.Image" alt="">
                                        <div class="desc">
                                            <span class="subheading">@recipe.Title</span>
                                            <h3><a asp-controller="Menu" asp-action="Index">@recipe.Description</a></h3>
                                            <p class="mb-0">
                                                <a asp-controller="FoodRecipes" asp-action="Index" class="button btn btn-primary">Read More</a>
                                            </p>

                                        </div>

                                    </div>


                                </div>

                            </div>
                        }
                 

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="sidebar pt-4">
                            <div class="sidebar-box text-center">
                                <div class="heading mb-4">
                          
                                    <ul class="category-image">
                                      @foreach (var item in Model.Advertisments)
                                    {
                                        <li>
                                            <a asp-controller="Menu" asp-action="Index"
                                               class="img d-flex align-items-center justify-content-center text-center">
                                                <img src="~/images/@item.Image" alt="">
                                            </a>
                                            <a asp-controller="Menu" asp-action="Index"><h3>@item.Title</h3></a>
                                        </li>
                                    }
                                   
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>
        <section class="reserve reserve-no-pt reserve-no-pb">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-md-5">
                        <img src="~/images/restaurant.jpeg" alt="">

                    </div>
                    <div class="col-md-7">
                        <span class="subheading">Book a Table</span>
                        <h2>Reservation Form</h2>
                        <form action="#" method="post">
                          <label for="name">Name:</label>
                          <input type="text" id="name" name="name" required>
                    
                          <label for="email">Email:</label>
                          <input type="email" id="email" name="email" required>
                    
                          <label for="date">Date:</label>
                          <input type="date" id="date" name="date" required>
                    
                          <label for="time">Time:</label>
                          <input type="time" id="time" name="time" required>
                    
                          <label for="guests">Number of Guests:</label>
                          <input type="number" id="guests" name="guests" required>
                    
                          <label for="comments">Comments:</label>
                          <textarea id="comments" name="comments" rows="4"></textarea>
                    
                          <button type="submit">Submit Reservation</button>
                        </form>
                    </div>

                </div>
            </div>

        </section>



    </body>

@section Scripts {
    <script src="~/./js/script.js"></script>
    <script src="~/./js/search.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
}

